@import 'nib'
@import 'normalize.css'
@import 'fontello.css'

x-small = 9px
small = 10px
medium = 14px
gray = #999
light-gray = hsl(0, 0%, 90%)
orange = hsl(0, 20%, 90%)
blue = hsl(220, 20%, 90%)
green = hsl(120, 20%, 90%)

body, input, textarea, label, legend
  font-family Helvetica Neue, Helvetica, Arial, sans-serif !important
  font-size medium !important

body
  text-align center
  margin 0 10px
  color #666

h1, h2, h3
  font-weight 300
  font-family Oswald

a
  text-decoration none
  color black
  &:hover
    text-decoration underline

p
  margin 1em 0
p, li
  line-height 150%

fieldset
  border none
  padding 0

body, .wufoo
  input, textarea
    min-width 0
    max-width none
    width 280px
    border solid 1px hsla(0, 0%, 0%, 0.2) !important
    border-radius 3px !important
    background none !important
    box-shadow 0 1px 3px hsla(0, 0%, 0%, 0.15) inset
    padding 3px
    outline none
  input[type=radio]
    width auto
  input[type=submit]
    width auto
    padding 3px 20px
    background hsl(220, 0%, 80%) linear-gradient(top, hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.2) 50%, hsla(0, 0%, 100%, 0) 50%, transparent) !important
    text-shadow 0 1px 0 hsla(0, 0%, 100%, 0.6)
    box-shadow 0 0 3px hsla(0, 0%, 0%, 0.1)
    transition background-color linear 200ms
    &:hover, &:active
      background-color blue !important
    &:active
      box-shadow 0 2px 5px hsla(0, 0%, 0%, 0.1) inset

#page
  max-width 800px
  margin 0 auto
  text-align left

  > header
    h1
      font-family Oswald, Helvetica Neue, Helvetica, Arial, san-serif
      display inline-block
    h1, nav ul
      margin-bottom 0
    nav
      text-transform uppercase
      &, ul, li
        display inline-block
      li
        margin 0 1em
  .calendar
    h3
      margin 0.5em 0
    table
      width 100%
      margin-bottom 2em
      table-layout fixed
      td
        vertical-align top
        border solid 1px hsl(0, 0%, 80%)
        padding 5px
        width 14%
        height 120px
        position relative
      .event
        font-size small
        margin 3px 0
        background-color blue
        border solid 1px hsla(0, 0%, 0%, 0.1)
        border-radius 3px
        padding 0 3px 0 1px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      .event.wedding
        background-color green
      .event.flight
        background-color orange
      .event.hotel
        background-color light-gray
        position absolute
        bottom 3px
        left 5px
        &.plaza-athenee
          width 391%
        &.le-meridien
          width 289%

article
  margin 0 0 2em
  h5
    color gray

aside
  float right
  line-height 150%
  margin-left 20px
  h4
    margin 1px 0 0
  ul
    padding 0
    margin 0
    list-style-type none
  img
    box-shadow 0 0 1px hsla(0, 0%, 0%, 0.3)
    padding 3px
    border-radius 2px

iframe, iframe + p
  float left

.wufoo
  #header
    display none
  li
    padding-left 0 !important
    div span
      display inline-block
    label.choice
      margin -15px 1em 0 18px
  #errorLi
    display none
  li.error
    background-color transparent !important

@media (max-width: 800px)
  iframe + p
    margin-right 20px
  iframe + p + aside
    float none
    margin-left 0

@media (max-width: 600px)
  nav ul
    padding 0
    margin-left -1em
  aside
    float none
    margin-left 0
  [class^="icon-"]:before,
  [class*=" icon-"]:before
    display none
  .calendar table td
    height 90px !important
    .event
      font-size x-small !important
      font-family Verdana, sans-serif
