extends layout

block prepend title
  | #{ page.title } - 

block content
  h2 March 2013
  table.calendar
    tr
      td Sun 24
      td Mon 25
      td Tue 26
      td Wed 27
        .event.flight Arrive Bangkok
        .event.hotel.plaza-athenee Plaza Athénée (Bangkok)
      td.active Thu 28
        .event.wedding Bachelor Party
      td.active Fri 1
        .event Sightseeing
      td.active Sat 2
        .event.wedding Monk Blessing
        .event.wedding Water Ceremony
        .event.wedding Cocktail Reception
    tr
      td.active Sun 3
        .event.flight Fly to Phuket
        .event.wedding Rehearsal Dinner
        .event.hotel.le-meridien Le Meridien (Phuket)
      td.active 4
        .event Koh Phi Phi
      td.active 5
        .event.wedding Ceremony
        .event.wedding Reception
      td.active 6
        .event.flight Depart Phuket
      td 7
      td 8
      td 9
  != page.html

block content
