include article

extends layout

block content
  - var articles = _.chain(contents.news._.directories).pluck('index').compact().sortBy('date').reverse().value()
  each article in articles
    mixin article(article)
