!!! 5
html( lang="en" )
  head
    block head
      meta( charset="utf-8" )
      title
        block title
          | Jane &amp; Visnu
      link( href="http://fonts.googleapis.com/css?family=Oswald", rel="stylesheet", type="text/css" )
      link( href="/css/main.css", rel="stylesheet", type="text/css" )
      link( rel="icon", href="/favicon.ico", type="image/png" )
  body
    #page
      header
        block header
          h1: a( href="/" ) Jane &amp; Visnu
          nav: ul
            li: a( href="/rsvp/" ) RSVP
            li: a( href="/travel/" ) Travel Info
            li: a( href="/events/" ) Schedule
            li: a( href="/" ) News
            li: a( href="/registry/" ) Registry
            li: a( href="http://blog.theglamourist.com/post/20056250911/the-proposal" ) The Proposal
      #content
        block content
