!!! 5
html( lang="en" )
  head
    block head
      meta( charset="utf-8" )
      title
        block title
          | Jane &amp; Visnu
      link( href="http://fonts.googleapis.com/css?family=Oswald", rel="stylesheet", type="text/css" )
      link( href="/css/main.css", rel="stylesheet", type="text/css" )
      link( rel="icon", href="/favicon.ico", type="image/png" )
  body
    #page
      header
        block header
          h1: a( href="/" ) Jane &amp; Visnu
          nav: ul
            li: a( href="/rsvp/" ) RSVP
            li: a( href="/events/" ) Schedule
            li: a( href="/travel/" ) Travel Info
            li: a( href="/" ) News
            li: a( href="/registry/" ) Registry
            li: a( href="http://blog.theglamourist.com/post/20056250911/the-proposal" ) The Proposal
          .calendar
            h3 March 2013
            table
              tr
                td Sun 24
                td Mon 25
                td Tue 26
                td Wed 27
                  .event.flight Arrive Bangkok
                  .event.hotel.plaza-athenee Plaza Athénée (Bangkok)
                td.active Thu 28
                  .event.wedding Bachelor Party
                td.active Fri 1
                  .event Sightseeing
                td.active Sat 2
                  .event.wedding Monk Blessing
                  .event.wedding Water Ceremony
                  .event.wedding Cocktail Reception
              tr
                td.active Sun 3
                  .event.flight Fly to Phuket
                  .event.wedding Rehearsal Dinner
                  .event.hotel.le-meridien Le Meridien (Phuket)
                td.active 4
                  .event Koh Phi Phi
                td.active 5
                  .event.wedding Ceremony
                  .event.wedding Reception
                td.active 6
                  .event.flight Depart Phuket
                td 7
                td 8
                td 9
      #content
        block content
